#titulo {
    text-align: center;
}

#logoEAFIT {
    
}

#expl {
}

#expl2 {
}

#expl3 {
}

#confirmador {

}

#comp {
}

#voltaje {
    color: rgb(255, 255, 255);

}

#corriente {
    color: rgb(255, 255, 255);
}

#y {
    color: rgb(255, 255, 255);
}

#x {
    color: rgb(255, 255, 255);
}
.logoEAFIT{
    position: static;
    left: 5%;
}

.parafo{

    position: static;
    left: 5%; 
       
    
}

.botconfirm{
    position: static;
    left: 8%;
    
}

.datosdisplay{
    position: static;
    left: 8%;
    width: 70%;
    background-color: #00395b;
    margin: 2px;
    padding: 2px;
}

.LabelV {
    position: static;
    color: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;

}

.LabelC {
    position: static;
    color: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;

}

.LabelY {
    position: static;
    color: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
}

.LabelX {
    position: static;
    color: rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
}